.profile .CharityInfoBox{
    background: rgba(4,4,4,0.61);
    padding: 10px;
    border-bottom: 5px solid #FD5961;
}
.profile img{
    width: 100%;
    border-radius: 10px;
}
.profile .info{
    font-size: 20px;
}
.profile .DonateBox{
    background: rgba(255,255,255,0.78);
    height: 277px;
}
.profile legend{
    text-align: center;
    font-family: myFont2;
    font-size: 30px;
    color: #FD5961;
    border-bottom: 1px solid #FD5961;
    margin-bottom: 20px;
    padding: 5px;
}
.profile input[type=submit]{
    background: #FD5961;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}
.profile input[type=number]:focus::placeholder{
    opacity: 0;
}